.none {
  display: none;
}


.form {
}

.form__field {
  position: relative;
}

.form__input {
}

.form__input-error {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: #ff0000;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  left: 0;
  top: 17px;
}
.form__input-error_active {
  opacity: 1;
}

.form__input_type_error {
  border-bottom-color: red;
}

.popup__save-btn_inactive {
  border: 1px solid #000000;
  background: transparent;
  color: #000000;
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
}
