.logo {
  width: 142px;
  height: 33px;
  background-image: url(../../images/logo/logo.svg);
  background-size: contain;
}

@media screen and (max-width: 907px) {
  .logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 675px) {
  .logo {
    width: 104px;
    height: 25px;
  }
}
