.profile__info {
  display: flex;
  align-items: baseline;
  align-self: flex-end;
}
@media screen and (max-width: 675px) {
  .profile__info {
    font-size: 27px;
    line-height: 1.22;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 22px 0 0 28px;
  }
}
